<h1>Questions and Answers</h1>

<p><strong><%= @question_type %></strong></p>
<p><em> - You</em></p>

<p><strong><%= @answer %></strong></p>
<p><em> - Your Coach</em></p>

<a href="/ask" class="btn btn-danger">Ask a new question!</a>



