<h1 class="text-center">Stupid Coaching</h1>

<form action="/answer" class="form-inline text-center">
  <input type="text" name="question_type" placeholder="Type your question!">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
